nz-layout {
    width: 100%;
    min-height: 100vh;
}

nz-content {
    margin: 0 16px 16px;
}

nz-breadcrumb {
    margin: 16px 0;
}

.inner-content {
    padding: 24px;
    background: #fff;
    width: 100%;
    min-height: calc(100vh - 203.2px);
    /* min-height: 360px; */
}